# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-wheel-metadata/

# Jupyter Notebook
.ipynb_checkpoints
debug.ipynb

# Test
tests/
test.*
.virtual_documents/
.DS_Store

snorer_docs/
src/snorer/debug.ipynb
